{% extends '@Health/layout.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row center">
            <div class="col s12">
                <h1>Settings</h1>
            </div>
        </div>

        <div class="row">
            <div class="col s6 center">
                <p>Push notifications : </p>
            </div>
            <div class="col s6 right">
                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox">
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <a href="{{ path('fos_user_profile_edit') }}">
                <div class="col s6 parameter_link center">
                    <p>Edit Account</p>
                </div>
            </a>
            <div class="col s6">
                <p class="center">Check list :</p>

                <div class="include_div">
                {% for information in informations %}

                {#{% include 'InformationBundle:information:include_index.html.twig'%}#}

                {% endfor %}
                </div>

            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
